* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    180deg,
    rgba(26, 0, 143, 1) 0%,
    rgba(79, 0, 143, 1) 100%
  );
  color: cornsilk;
  height: 100%;
  min-height: calc(100vh - 3vh);
}

h1 {
  font-family: "Amatic SC", cursive;
  font-size: 4em;
  text-align: center;
  margin-top: 3vh;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 1rem;
}

.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 10vh;
}

.inputSection {
  text-align: center;
  font-size: 1.5em;
}

.cards {
  list-style-type: none;
  margin-top: 10vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.cards li {
  dbackground: rgb(26, 0, 143);
  dbackground: linear-gradient(
    180deg,
    rgba(26, 0, 143, 1) 0%,
    rgba(79, 0, 143, 1) 100%
  );
  margin: 1rem;
  border-radius: 1em;
  width: 25h;
  box-shadow: 10px 10px 43px 0px rgba(19, 0, 20, 0.5);
  position: relative;
}

/* .cards li:hover {
    background-color: rgb(27, 9, 94);
  } */

.deleteBtn {
  position: absolute;
  bottom: 1.2rem;
  right: 1.2rem;
  background-color: rgb(185, 0, 93);
  border: none;
  color: aliceblue;
  padding: 1em;
  border-radius: 0.5em;
  opacity: 0;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  transition-delay: 100ms;
}
.editBtn {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  background-color: rgb(195, 143, 0);
  border: none;
  color: aliceblue;
  padding: 1em;
  border-radius: 0.5em;
  opacity: 0;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  transition-delay: 100ms;
}

.editBtn:hover {
  background-color: rgb(218, 160, 1);
}
.deleteBtn:hover {
  background-color: rgb(218, 0, 109);
}

li:hover .deleteBtn,
li:hover .editBtn {
  opacity: 1;
}

li:hover {
  background-color: rgb(55, 0, 143);
  transition: all 200ms ease-in-out;
}

.done {
  opacity: 0.5;
}

.cards li h4,
p {
  margin: 1.2rem;
}
.datum {
  font-size: 0.7em;
  position: absolute;
  bottom: 0;
  left: 0;
}

.taskText {
  margin-bottom: 3rem;
}

input {
  font-size: 0.8em;
  color: cornsilk;
  padding: 0.5em;
  background-color: rgb(61, 0, 117);
  border-radius: 0.5em;
  border: 0.2em solid rgb(76, 0, 255);
  margin: 0 0.5em;
}
input:focus {
  outline: none;
  border: 0.2em solid rgb(119, 0, 255);
}

@media only screen and (max-width: 800px) {
  form {
    display: grid;
    justify-content: center;
  }
  input {
    margin: 0.5em 0;
  }
}
